* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {

}
p {
    color: #602f6b;
    font-family: 'Playfair Display', serif;
}

/* header styles */
header {
    padding: 15px 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #C3E4ED;
}
header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #fff;
    margin: 0;
    font-family: 'Playfair Display', serif;
}
header h1 a:hover {
    color: #602f6b;
}
header a {
    text-decoration: none;
    color: #fff;
}
header nav {
    margin: 7px 0;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
header nav ul li a {
    padding: 15px 15px;
    font-weight: lighter;
    font-size: 20px;
    font-family: 'Playfair Display', serif;
}
header nav ul li a:hover {
    color: #602f6b;
    border-bottom: 3px solid #602f6b;
}
/*end header styles */

/* hero section styles */
.hero {
    background-image: url("../images/bckground.png");
    background-size: cover;
    background-position: 100%;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    height: 350px;
    flex-direction: column;
}
.hero-name {
    width: 35%;
}
.hero-name h1 {
    font-size: 40px;
    font-family: 'Playfair Display', serif;
    color: #fff;
}

/* about me section */
.about {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.section-title {
    flex: 1 15%;
    align-self: center;
    flex-wrap: wrap;
    display: flex;
    margin: 60px auto;
    justify-content: space-around;
}
.section-title h2 {
    color: #602f6b;
    padding-left: 20px;
    font-family: 'Playfair Display', serif;
}
.about-info {
    display: flex;
    flex-wrap: wrap;
    align-self: stretch;
    flex: 12 60%;
    margin: 60px auto;
    padding-right: 20px;
}
.about-info p {
    color: #602f6b;
    line-height: 1.6;
    border-left: 3px solid #C3E4ED;
    padding-left: 40px;
}   

/* portfolio section 
.portfolio {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}
.portfolio-title {
    flex: 1 15%;
    align-self: flex-start;
    flex-wrap: wrap;
    display: flex;
    margin: 60px auto;
    justify-content: space-around;
}
.portfolio-title h2 {
    color: #602f6b;
    padding-left: 20px;
    font-family: 'Playfair Display', serif;
}
*/

/* contact me section */
.contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    flex-direction: row;
}
.contact-title {
    flex: 1 15%;
    align-self: center;
    flex-wrap: wrap;
    display: flex;
    margin: 60px auto;
    justify-content: space-around;
}
.contact-title h2 {
    color: #602f6b;
    padding-right: 20px;
    padding-left: 15px;
    font-family: 'Playfair Display', serif;
    text-align: right;
}
.contact-info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    border-left: 3px solid #C3E4ED;
    padding-left: 40px;
    flex: 12 70%;
}
.contact-info a {
    padding: 15px;
    color: #602f6b
}
