* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {

}
p {
    color: black;
    font-family: 'Playfair Display', serif;
}

/* header styles */
header {
    padding: 15px 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #87CEFF;
}
header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #fff;
    margin: 0;
    font-family: 'Playfair Display', serif;
}
header h1 a:hover {
    color: #ff91a4;
}
header a {
    text-decoration: none;
    color: #fff;
}
header nav {
    margin: 7px 0;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
header nav ul li a {
    padding: 15px 15px;
    font-weight: lighter;
    font-size: 20px;
    font-family: 'Playfair Display', serif;
}
header nav ul li a:hover {
    color: #ff91a4;
    border-bottom: 3px solid #ff91a4;
}
/*end header styles */

/* hero section styles */
.hero {
    background-image: url("../images/wavylines.jpg");
    background-size: cover;
    background-position: 100%;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    height: 350px;
    flex-direction: column;
}
.hero-name {
    width: 35%;
    text-align: center;
}
.hero-name h1 {
    font-size: 40px;
    font-family: 'Playfair Display', serif;
    color: #fff;
    background: #ff91a4;
}

.page-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding: 60px;
}
.page-section h2 {
    flex: 0 0 20%;
    text-align: right;
    padding-right: 15px;
    border-right: 4px solid #87CEFF;
    font-size: 4vw;
    color: #ff91a4;
    line-height: 1.1;
}

/* about me section */
.about-info {
    display: flex;
    flex: 12 70%;
    align-items: center;
    padding-left: 30px;
}
.about-info p {
    color: black;
    line-height: 1.4;
}
/* grid */ 
.container {
    display: flex;
    width: 80%;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(auto, 400px));
    grid-template-rows: repeat(2, minmax(auto, 200px));
    grid-gap: 1em;
    padding-left: 20px;
    align-items: flex-start;
    position: relative
}
.grid-item {
    max-width: 100%;
    border: 6px solid #87CEFF;
    position: relative;
    display: flex;
    align-items: flex-end;
    min-height: 150px;
    text-decoration: none;
}



/* contact me section */

.contact-info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding-left: 40px;
    flex: 1 15%;
}
.contact-info a {
    padding: 15px;
    color: #87CEFF;
}
